<h1 class="text-2xl font-bold mb-4 text-white">Game Details in the partial - Current player: <%= @current_player.name %> - Score: <%= @current_player.tokens.sum(:value) %> Bonus: <%= @current_player.bonus_tokens.sum(:value)%></h1>
