<turbo-stream action="prepend" target="games">
  <template>
    <turbo-frame id="game_123">
      <div class="game">
        <h2>Game <%= game.id %></h2>
    </turbo-frame>
  </template>
</turbo-stream>
