<div data-controller="game-updates-subscription" data-game-updates-subscription-game-id="<%= @game.id %>">
  <div class="flex self-center mx-auto w-screen sm:w-3/4">
    <div class="w-full rounded-md sm:p-5 relative" style="background-image: url(<%= asset_path 'table.jpg' %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <div class="absolute inset-0 bg-green-600 opacity-10" style="pointer-events: none;"></div>
      <%= render partial: 'game', formats: [:html] %>
    </div>
  </div>
</div>
